@import '../../assets/scss/variables';

@import '../../assets/scss/mixins';

body.light-mode {
  background-color: #fff;
  color: $color-base;
  transition: background-color 0.3s ease;
}
body.dark-mode {
  background-color: $dark-background;
  color: $dark-color-base;
  transition: background-color 0.3s ease;
}

.post_toggle > .dark-mode-toggle{
  display: flex;
  max-width: 3em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.dark-mode-toggle {
  display: flex;
  margin: 0 auto;
  margin-bottom: 2em;
}

@include breakpoint-md {
  .post_toggle > .dark-mode-toggle{
    
  position: fixed;
  display: flex;
  max-width: auto;
  margin: 0;
  top:90px;
  left: 65px
  }
}